{% extends "layout.html" %}

{% block title %}
Bytes: About
{% endblock %}

{% block main %}
<section  id="about" class="col-flex centered">
        <h2 class="home">Whats it all about?</h2>
        <p class="home">So you head out to that restaurant you went too three months back, to get that dish you really liked...wait what dish was it again?</p>
        <p class="home">Bytes will help track what you've eaten, what you liked and didn't like, so next time you'll know immediately what to order!</p>
        <img src="static/Brocc.png" alt="broccoli cartoon" class="hover-skew">
        <p class="home">This website was made for the cs50x final project</p>
        <p class="home">more information about cs50 can be found...</p>
        <a href="https://cs50.harvard.edu/x/2023/">here</a></p>
</section>
{% endblock %}